@page "/game"
@using TDD_Squirrel.Components
@using SnakesAndLaddersLib

<h4>Spielvorbereitung</h4>
<div class="game-preparation">
    <span class="input-content">
        <input type="number" class="input-numbers" name="numberOfFieldsInput" min="0" max="10" @bind-value="@_preparationPayingFileSize" />
        <label>Anz. Spielfelder (Quadratisch)</label>
    </span>
    <br/>
    <button @onclick="StartNewGame" class="btn btn-primary button-peparation">Spielstart - Let's play</button>
</div>

@if (_showGame)
{
    <div>
        <h4>Spielbrett</h4>
        <button @onclick="MovePiece" class="button-diece" disabled="@_disabledDie">
            <span class="icon-cube @(_disabledDie ? "icon-disabled" : "")"></span>
        </button>
        @if (_disabledDie)
        {
            <div class="game-end-notification">
                Spieler:in 1 hat gewonnen - Herzlichen Glückwunsch!
            </div>
        }

        <div>
            @for (var rowIndex = 0; rowIndex < _rowsCount; rowIndex++)
            {
                <div class="row-content">
                    @for (var fieldIndex = 0; fieldIndex < _columnsCount; fieldIndex++)
                    {
                        var fieldPosition = new Position(fieldIndex, rowIndex);
                        <Field>
                            @if (fieldPosition == _piecePosition)
                            {
                                <div class="field-content">
                                    <GameFigure></GameFigure>
                                </div>
                            }
                        </Field>
                    }
                </div>
            }
        </div>
    </div>
}