.game-preparation {
    background-color: #b3c8d8;
    border: 1px solid #00487e;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 12px;
}

.game-information {
    margin-bottom: 10px;
}

.game-end-notification {
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 12px;
    color: green;
    display: inline-block;
    padding: 12px;
    margin: 0 10px;
    vertical-align: text-bottom;
}

.input-content {
    margin-right: 14px;
}

.input-numbers {
    margin-right: 10px;
    width: 50px;
}

.game-svg {
    position: absolute;
}

.game-action-field {
    stroke-width: 2;
}

.ladder {
    stroke: darkmagenta;
}

.ladder-arrow {
    fill: darkmagenta;
}

.snake {
    stroke: forestgreen;
}

.snake-arrow {
    fill: forestgreen;
}

.row-content {
    display: flex;
}

.field-content {
    display: table;
}

.field-text {
    color: black;
    font-weight: bold;
    text-align: center;
}

.button-peparation {
    margin-top: 12px;
}

.button-diece {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.icon-cube {
    background: black;
    display: inline-block;
    height: 40px;
    width: 40px;
    mask: url(images/cube.png);
    mask-size: cover;
    -webkit-mask-image: url(images/cube.png);
    -webkit-mask-size: cover;
}

.icon-disabled {
    background: grey;
    cursor: not-allowed;
}