.row-content {
    display: flex;
}

.field-content {
    display: table;
}

.button-diece {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

/*.button-diece:disabled {
    cursor: not-allowed;
}*/

.icon-cube {
    background: black;
    display: inline-block;
    height: 40px;
    width: 40px;
    mask: url(images/cube.png);
    mask-size: cover;
}

.icon-disabled {
    background: grey;
    cursor: not-allowed;
}