@page "/"

<PageTitle>Home</PageTitle>

<h1>Knack die Nuss mit TDD</h1>

Willkommen zum Workshop: Code Camp C#: Knack die Nuss mit TDD - Testgetriebene Softwareentwicklung im Praxistest.
<br/>
Dies ist die Startseite bzw. ein kleines Fronted für dein, im Kurs, entwickeltes Spiel.
